// Css utilities for blurry borders
.blur {
  position: relative;
  z-index: 99;
}
.bottom {
  box-shadow: 0 1em 1em white;
}
.top {
  box-shadow: 0 -1em 1em white;
}

// Css utility for actionable element
.actionable {
  cursor: pointer;
}

// Hide scrollbar
::-webkit-scrollbar {
  display: none;
}
//Css for model resizing
.small {
  width: 100vw;
}
.large {
  width: 50vw;
}
